* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


.nav {
    display: flex;
    box-shadow: 0px 2px 7.5px #dfdfdf;
}

.gray{
    color: #918E9B;
}

.bold   {
    font-weight: bold;
}

.logo {
    height: 50px;
    padding: 10px 36px;
    margin: 10px;
}

section {
    padding: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
}

.banner--photo {
    max-width: 600px;
}

.banner--header {
    margin-top: 16px;

}

.banner--details {
    margin-top: 0;
    max-width: 25rem;
}

.card {
    width: 175px;
    font-size: 12px;
    padding: 10px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
}

.card--photo {
    border-radius: 9px;    
    width: 100%;
}

.card--title {
    overflow:hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

.card--price {
    margin-top: auto;
}

section {
    padding: 20px;
}

.stories {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;

}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    padding:5px 7px;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    font-weight: bold;
}